
SECRET_KEY=weyrlhjajshl2134qweab

POSTGRES_PASSWORD=swydk

CERTBOT_EMAIL=sanzhar.kasymzhomart@gmail.com


TELEGRAM_BOT_TOKEN=8855613385:AAEpeZRI8nq1YGve-xRP2wr-l7gSLfqf6Do
# Адрес Mini App для кнопки в боте (только HTTPS)
TG_WEBAPP_URL=https://tresfit.ru

TELEGRAM_LOGIN_CLIENT_ID=8787955415
VITE_TG_LOGIN_CLIENT_ID=8787955415


DJANGO_SUPERUSER_TG_ID=1
DJANGO_SUPERUSER_PASSWORD=admun

YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=

KINESCOPE_API_TOKEN=
KINESCOPE_PARENT_ID=

POSTGRES_DB=tres
POSTGRES_USER=tres
